@font-face {
    font-family: 'iranyekanwebmedium';
    src: url("../../fonts/iranyekanwebmedium.woff") format('woff');
}

@font-face {
    font-family: 'iranyekanwebregular';
    src: url("../../fonts/iranyekanwebregular.woff") format('woff');
}

